a:hover {
	color: #F16822;
	text-decoration:none;
}
.panel-title1 a:hover{
	color: #fff;
	text-decoration: underline;
}
.social-box.linkedin i {
	color: #fff;
	background: #F16822;
}
.checkbox span:after {
	color: #fff;
	background-color: #F16822;
}
.user-card .card-block .activity-leval li.active {
    background-color: #F16822;
}
#count-down .clock-presenter .digit {
	background:#F16822;
	color:#fff;
}
form-control:focus {
	color: #6f6e6e;
	background-color: #fff;
	border-color:#F16822;
}
.btn-primary {
	color: #fff;
	background-color: #F16822;
    border-color: #F16822;
    box-shadow: 0 5px 10px rgb(34, 5, 191,0.3);
}
.btn-primary:hover {
	color: #fff !important;
	background-color:#D84D2D;
	border-color: #D84D2D;
}
.btn-primary:focus, .btn-primary.focus {
	box-shadow: 0 0 0 2px rgb(48, 110, 255,0.5);
}
.btn-primary.disabled, .btn-primary:disabled {
	color: #fff;
	background-color: #F16822;
	border-color: #F16822;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #D84D2D;
	border-color: #D84D2D;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show>.btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(24, 193, 185, 0.1);
}
.btn-secondary {
	color: #fff;
	background-color: #fa713b ;
	border-color: #fa713b;
	box-shadow:0 5px 10px rgba(250, 113, 59, 0.3);
}
.btn-secondary:hover {
	color: #fff !important;
	background-color:#f36730;
	border-color:#fa713b;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show>.btn-secondary.dropdown-toggle {
	color: #fff;
	background-color:#fa713b;
	border-color: #fa713b;
}
.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show>.btn-secondary.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px #fa713b;
}
.btn-outline-primary {
	color: #F16822 !important;
	background-color: transparent;
	background-image: none;
	border-color: #F16822;
	box-shadow: 0 2px 5px 0 rgb(204, 197, 238), 0 2px 10px 0 rgb(218, 213, 246);
}
.btn-outline-primary:hover {
	color: #fff !important;
	background-color: #F16822;
	border-color:  #F16822;
}
.btn-outline-primary:focus, .btn-outline-primary.focus {
	box-shadow: 0 0 0 2px rgba(5, 117, 230, 0.1);
}
.btn-outline-primary.disabled, .btn-outline-primary:disabled {
	color: #F16822;
	background-color: transparent;
}
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show>.btn-outline-primary.dropdown-toggle {
	color: #fff;
	background-color: #F16822;
	border-color: #F16822;
}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show>.btn-outline-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(5, 117, 230, 0.1);
}
.btn-outline-secondary {
	color: #fa713b;
	background-color: transparent;
	background-image: none;
	border-color:#fa713b;
}
.btn-outline-secondary:hover {
	color: #fff  !important;
	background-color:#fa713b;
	border-color:#fa713b;
}
.btn-outline-secondary:focus, .btn-outline-secondary.focus {
	box-shadow: 0 0 0 2px rgba(134, 142, 150, 0.1);
}
.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
	color: #fff;
	background-color: transparent;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show>.btn-outline-secondary.dropdown-toggle {
	color: #fff;
	background-color:#fa713b;
	border-color:#fa713b;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .show>.btn-outline-secondary.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(134, 142, 150, 0.1);
}
.btn-link {
	font-weight: 400;
	color: #F16822;
	background-color: transparent;
}
.btn-link:hover {
	color:#F16822;
	text-decoration: underline;
	background-color: transparent;
	border-color: transparent;
}
.btn-link:focus, .btn-link.focus {
	text-decoration: underline;
	border-color: transparent;
	box-shadow: none;
}
.btn-link:disabled, .btn-link.disabled {
	color: #aaadb2;
	pointer-events: none;
}
.notifyimg {
	background: #F16822;
}
.drop-icon-wrap .drop-icon-item:hover{
	color: #F16822;
	text-decoration: none;
	background-color: #f1f1f5;
}	
.dropdown-item:hover, .dropdown-item:focus {
	color: #F16822;
	text-decoration: none;
	background-color:#f1f1f5;
}
.dropdown-item.active, .dropdown-item:active {
	color: #F16822;
	text-decoration: none;
	background-color:#f1f1f5;
}
.button-1{
	border:1px solid #F16822;
}
.button-1 a{
	color:#F16822;
}
.eff-1{
	background:#F16822;
}
.eff-2{
	 background:#F16822;
}
.eff-3{
	 background:#F16822;
}
.eff-4{
	background:#F16822;
}
.eff-5{
	 background:#F16822;
}
.eff-6{
	background:#F16822;
}
.eff-7{
	border:0px solid #F16822;
}
.button-1:hover .eff-7{
	border:70px solid #F16822;
}
.eff-8{
	border:70px solid #F16822;
}
.button-1:hover .eff-8{
	border:0px solid #F16822;
}
.button-1.btn-hover:hover a{
	color:#F16822
}
.accordionjs .acc_section.acc_active > .acc_head{
	background-color: #ebf2f7;
}
timeline__item:after {
    border: 6px solid #F16822;
}
.custom-control-input:checked~.custom-control-label::before {
	color: #fff;
	background-color: #F16822;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	background-color: #F16822;
}
.custom-checkbox .custom-control-input:indeterminate~.custom-control-label::before {
	background-color: #F16822;
}
.custom-radio .custom-control-input:checked~.custom-control-label::before {
	background-color: #F16822;
}
.custom-select:focus {
	border-color: #F16822;	
}
.custom-file-input:focus~.custom-file-label {
	border-color: #F16822;
	box-shadow: 0 0 0 2px rgb(48, 110, 255, 0.25);
}
.custom-file-input:focus~.custom-file-label::after {
	border-color: #F16822;
}
.custom-file-label::after {
	background-color: #F16822;
	border-left: 1px solid #F16822;
}
.custom-range::-webkit-slider-thumb {
	background-color: #F16822;
}
.custom-range::-moz-range-thumb {
	background-color: #F16822;
}
.custom-range::-ms-thumb {
	background-color: #F16822;
}
.nav-link.active {
	color: #fff;
	background-color: #F16822;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	color: #fff;
	background-color: #F16822;
}
.page-link:hover {
	color: #F16822;
}
.page-item.active .page-link {
	z-index: 1;
	color: #fff;
	background-color: #F16822;
	border-color: #F16822;
}
.range.range-primary input[type="range"]::-webkit-slider-thumb {
	background-color: #F16822;
}
.range.range-primary input[type="range"]::-moz-slider-thumb {
	background-color: #F16822;
}
.range.range-primary output {
	background-color: #F16822;
}
.range.range-primary input[type="range"] {
	outline-color: #F16822;
}
.nav-tabs .nav-item1 .nav-link:hover:not(.disabled) {
	color: #fff;
	background: #F16822;
}
.nav-tabs .nav-item1 .nav-link.active {
	color: #fff;
	background: #F16822;
}
.panel.price>.panel-heading {
	background:#F16822;
	color:#fff;
}
.panel.price>.panel-heading{
	background: #F16822;
}
.pricing-tabs .nav-price li a{
	  border: 1px solid  #F16822;
}
.pricing-tabs .nav-price li .active{
	background: #F16822;
    color: #fff;
}
.heading-primary {
	background-color: #F16822;
	color: #ffffff;
	padding: 5px;
}
.alert-primary {
	color: #fcfdff;
	background-color: #F16822;
	border-color: #F16822;
}
.alert-primary hr {
	border-top-color: #b7cded;
}
.alert-primary .alert-link {
	color: #172b46;
}
.badge-primary {
	color: #fff;
	background-color: #F16822;
	box-shadow:0 5px 10px rgb(34, 5, 191,0.2);
}
.badge-primary[href]:hover, .badge-primary[href]:focus {
	color: #fff;
	text-decoration: none;
	background-color: #8135c3;
}
.bg-gradient-primary{
	background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}
.bg-gradient-secondary{
	background-image :linear-gradient(315deg, #ee9617 0%, #fe5858 74%);
}
.bg-gradient-success{
	background:linear-gradient(120deg, #04a760 0%, #36da95  100%);
}
.bg-gradient-info{
	background-image: linear-gradient(315deg, #0584a7 0%, #09c6f9 74%);
}
.bg-gradient-warning{
	background:linear-gradient(120deg, #f9bd1d 0%, #ffc107  100%);
}
.bg-gradient-danger{
	background:linear-gradient(120deg, #d20c0c 0%, #ff5630  100%);
}
.bg-primary-tranparant{
	background-color: #ded8fd !important;
    color: #F16822;
}
.bg-secondary-tranparant{
	background-color: #fbdfc6 !important;
    color: #ff9b44;
}
.bg-success-tranparant{
	background-color: #cbeddf !important;
    color: #1dab2d;
}
.bg-warning-tranparant{
	background-color: rgba(255, 171, 0, 0.25) !important;
    color: #ffab00;
}
.bg-danger-tranparant{
    background-color: #fbd2da !important;
    color: #fa5c7c;
}
.bg-info-tranparant{
    background-color: #caeaf5 !important;
    color: #0ca7ec;
}
.bg-primary {
	background-color: #F16822 !important;
	color:#fff;
}
a.bg-primary:hover, a.bg-primary:focus, button.bg-primary:hover, button.bg-primary:focus {
	background-color: #2356ce !important;
	color:#fff;
}
.border-primary {
	border-color: #F16822 !important;
}
.text-primary {
	color: #F16822 !important;
}
a.text-primary:hover, a.text-primary:focus {
	color: #4a2def !important;
}
a.text-dark:hover, a.text-dark:focus {
	color: #F16822 !important;
}
.header-bg {
	background:#fa713b;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right,#fa713b, #F16822);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right,#fa713b, #F16822);
}
.nav-tabs .nav-link:hover:not(.disabled) {
	color: #fff;
	background: #F16822;
}
.nav-tabs .nav-link.active {
	color: #fff;
	background: #F16822;
}
.navtab-wizard.nav-tabs .nav-link.active, .navtab-wizard.nav-tabs .nav-link:hover{
	color: #F16822;
    background: #fff;
}
.expanel-primary {
	border: #F16822 !important;
}
.expanel-primary>.expanel-heading {
	color: #fff !important;
	background-color: #F16822 !important;
	border-color: #F16822 !important;
}
.error-img .form-control:focus {
	border-color: #F16822;
}
.avatar {
	background: #F16822 no-repeat center/cover;
}
.pricing-table:hover .price-header {
  background-color: #F16822; 
}
.primary .pricing-divider{
	background:linear-gradient(to bottom right,#F16822,#fa713b) !important;
	padding: 1em 0 4em;
	position: relative;
}
.secondary .pricing-divider{
	background:linear-gradient(to bottom right, #fa713b 0%, #4a08a0 100%) !important;
	padding: 1em 0 4em;
	position: relative;
}
.product-grid6 .icons li a{
	color:#F16822;
	border:1px solid #F16822;
}
.product-grid6 .icons li a:hover{
	color:#fff;
	background-image:linear-gradient(120deg, #F16822 0%, #F16822  100%);
}
.product-grid6 .icons li a:after,.product-grid6 .icons li a:before{
	color:#fff;
	background-image:linear-gradient(120deg, #F16822 0%, #F16822  100%);
}
/*--loaders--*/
.spinner {
	background:#F16822;
}
.spinner-lg {
	background-color: #F16822;
}
.double-bounce1, .double-bounce2 {
	background: #F16822;
}
.cube1, .cube2 {
	background: #F16822;
}
.lds-heart div {
	background: #F16822;
}
.lds-heart div:after,
.lds-heart div:before {
	background: #F16822;
}
.lds-ring div {
	border: 6px solid #F16822;
	border-color: #F16822 transparent transparent transparent;
}
.lds-hourglass:after {
	border: 26px solid #F16822;
	border-color: #F16822 transparent ;
}
.lds-circle > div {
	background: #F16822;
}
.lds-dual-ring:after {
	border: 5px solid #F16822;
	border-color: #F16822 transparent #F16822 transparent;
}
.lds-facebook div {
	background: #F16822;
}
.lds-roller div:after {
	background: #F16822;
}
.lds-ripple div {
	border: 4px solid #F16822;
}
.lds-spinner div:after {
	background: #F16822;
}
.lds-default div {
	background: #F16822;
}
.lds-ellipsis div {
	background: #F16822;
}
.lds-grid div {
	background: #F16822;
}
div.lds-ball2 div {
	background: #F16822;
}
.lds-ball div {
	background: #F16822;
}
.lds-bars div:nth-child(1) {
	background: #F16822;
}
.lds-bars div:nth-child(2) {
	background: #F16822;
}
.lds-bars div:nth-child(3) {
	background: #F16822;
}
.lds-bars div:nth-child(4) {
	background: #F16822;
}
@keyframes lds-blocks {
	0% {
		background: #fa713b;
	}
	12.5% {
		background: #fa713b;
	}
	12.625% {
		background: #F16822;
	}
	100% {
		background: #F16822;
	}
}
@-webkit-keyframes lds-blocks {
	0% {
		background: #fa713b;
	}
	12.5% {
		background: #fa713b;
	}
	12.625% {
		background: #F16822;
	}
	100% {
		background: #F16822;
	}
}
.lds-blocks div {
	background: #F16822;
}
.lds-cube div {
	background: #F16822;
}
.lds-eclipse div {
	box-shadow: 0 4px 0 0 #F16822;
}
.lds-flickr div:nth-child(1) {
	background: #F16822;
}
.lds-flickr div:nth-child(3) {
	background: #F16822;
}
.lds-gear>div div {
	background: #F16822;
}
.lds-magnify>div>div div:nth-child(1) {
	border: 12px solid #F16822;
}
.lds-magnify>div>div div:nth-child(2) {
	background: #F16822;
}
.lds-pacman>div:nth-child(2) div {
	background: #F16822;
}
.lds-disk>div div:nth-child(1) {
	background: #F16822;
}
.bn-label{
	background: #F16822;
	color:#fff;
}
.best-ticker{
	border: solid 1px #F16822;
}
/*--loaders--*/

.logo-img{
	background: url(../images/brand/logo.png);
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    margin-left: 30px;
}
@media (max-width:320px){
	.logo-img{
		background: url(images/brand/favicon.png);
		background-repeat: no-repeat;
		margin-left: 30px;
	}
}
.mediaicon {
	border: 1px solid #F16822;
	background: #F16822;
}
a.chip:hover {
	color: #fff;
	text-decoration: none;
	background-color: #F16822;
}
.highlight .s {
	color: #F16822;
}
.selectgroup-input:checked+.selectgroup-button {
	border-color: #F16822;
	z-index: 1;
	color: #F16822;
	background: #f6f7fb;
}
.selectgroup-input:focus+.selectgroup-button {
	border-color: #F16822;
	z-index: 2;
	color: #F16822;
	box-shadow: 0 0 0 2px rgb(48, 110, 255, 0.25);
}
.custom-switch-input:checked~.custom-switch-indicator {
	background: #F16822;
}
.custom-switch-input:focus~.custom-switch-indicator {
	border-color: #F16822;
}
.imagecheck-input:focus~.imagecheck-figure {
	border-color:#eff2f9
}
.imagecheck-figure:before {
	background: #F16822 url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E") no-repeat center center/50% 50%;
	color: #fff;
}
.colorinput-input:focus~.colorinput-color {
	border-color: #F16822;
}
.ui-datepicker .ui-datepicker-title {
	color: #F16822;
    font-weight: bold;
}
#back-to-top {
	background:#F16822;
	color: #fff;
}
#back-to-top:hover {
	background: #fff;
	color: #F16822;
	border: 2px solid #F16822;
}
#chat-message {
	background: linear-gradient(120deg, #0f75ff 50%, #F16822 100%);
	color: #fff;
}
.tabs-menu1 ul li .active{
	border-bottom: 3px solid #F16822;
    border-radius: 2px;
    color: #F16822;
}
.wideget-user-tab .tabs-menu1 ul li .active{
	border-bottom: 2px solid #F16822 !important;
}
.rating-stars .rating-stars-container .rating-star.is--active .fa-heart ,
.rating-stars .rating-stars-container .rating-star.is--hover .fa-heart {
	color: #F16822;
}
.message-feed:not(.right) .mf-content {
    background: #eff2f9;
	font-size: 15px;
    color: #3c4858;
}
.message-feed:not(.right) .mf-content:before{
	border-right-color: #e2ebf7;
}
.msb-reply button {
	background: #F16822;
	color:#fff;
}
.wizard-card .moving-tab {
	background-color: #F16822 !important;
}
.wizard-card .choice:hover .icon, .wizard-card .choice.active .icon {
    border-color: #F16822 !important;
	color: #F16822 !important;
}
.cal1 .clndr .clndr-table .header-days {
	background: #F16822;
}
.cal1 .clndr .clndr-table tr .day.today.event,
.cal1 .clndr .clndr-table tr .day.my-today.event {
	background: #F16822;
}
.cal1 .clndr .clndr-table tr .day.today:hover,
.cal1 .clndr .clndr-table tr .day.my-today:hover {
	background: #F16822;
	color:#fff;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
    color: #F16822;
    background: #e6f2fe;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button {
	color: #F16822;
    background: #e6f2fe;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button:hover {
    background: #F16822;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button:hover {
    background: #F16822;
}
.fc button {
	background: #F16822;
}
.fc-event,
.fc-event-dot {
	background-color: #F16822;
	color:#f1f1f1! important;
}
.sweet-alert button {
	background-color: #F16822 !important;
}
.timeline__item:after {
	border: 6px solid #F16822;
}
.label-primary.arrowed:before {
	border-right-color: #F16822;
}
.widgetdate p{
	border-bottom:2px solid #F16822;
}
.widgetbox p {
	border-bottom:2px solid #F16822;
}
.datebox p {
	border-bottom:2px solid #F16822;
}
.arrow-ribbon.bg-primary:before {
	border-left: 15px solid #F16822;
}
.arrow-ribbon.ribbon-center.bg-primary:before {
	border-left: 33px solid #F16822;
}
.arrow-ribbon.top-right.bg-primary:before {
	border-right: 15px solid #F16822;
}
.arrow-ribbon.bottom-right.bg-primary:before {
	border-right: 15px solid #F16822;
}
.arrow-ribbon.ribbon-center3.bg-primary:before {
    border-right: 15px solid #F16822;
}
.ribbon1:after {
	border-top: 10px solid #F16822;
}
.ribbon1 span {
	background: #F16822;
}
.ribbon1 span:before {
	background: #F16822;
}
.ribbon1 span:after {
	background: #F16822;
}
.ribbon2 {
	background: #F16822;
}
.ribbon2:before {
	border-bottom: 6px solid #272b44;
}
.ribbon2:after {
	border-left: 30px solid #F16822;
	border-right: 30px solid #F16822;
}
.ribbon3 {
	background: #F16822;
}
.ribbon3:after {
	border-left: 15px solid #F16822;
}
.ribbon4 {
	background: #F16822;
}
.ribbon5 {
	background: #F16822;
}
.arrow-ribbon2:before {
	border-left: 24px solid #272b44;
}
.badge-offer.bg-primary:after{
	border-top: 12px solid #272b44;
}
.badge-offer1.bg-primary:after{
	border-top: 12px solid #272b44;
}
.ribbon5:before {
	border-top: 10px solid #272b44;
}
.ribbon5:after {
	border-top: 10px solid #272b44;
}
.wrap:before {
	background: #272b44;
}
.wrap:after {
	background: #272b44;
}
.ribbon6 {
	box-shadow:0 0 0 3px #F16822,  0px 21px 5px -18px rgba(0,0,0,0.6);
	background: #F16822;
}
.product-tags li a:hover{
	background:#F16822;
	border-color:#F16822;
	border-radius:2px;
	color:#fff!important;
}
.card-pay .tabs-menu li a.active  {
    background: rgb(34, 5, 191);
	color: #fff;
}
.item1-tabs-menu  ul li .active {
    background: #F16822;
    color: #fff;
}
.carousel-indicators li.active {
	color: #fff;
    background: #F16822;
}
.item-cards7-ic.realestate-list li a:hover{
	color:#F16822;
}
.item1-links a:hover{
	color:#F16822;
}
.item1-links a.active{
	background:#f1f1f5;
	color:#F16822;
	border-right:2px solid #F16822;
}
.settings-tab .tabs-menu li a.active  {
    background: #F16822;
    color: #fff;
}
.ads-tabs .tabs-menus ul li .active {
    background: #F16822;
    color: #fff;
}
.showmore-button-inner {
	border: 1px solid #F16822;
    color: #F16822;
}
.owl-nav button {
	color: #F16822 !important;
}
.owl-carousel:hover .owl-nav button {
	color: #F16822 !important;
}
.owl-nav > div i {
	color:#F16822;
}
.tabs-menu ul.eductaional-tabs li .active{
	background: #F16822;
}
.register-right .nav-tabs .nav-link:hover{
	background:#F16822;
	color:#fff ;
}
.gradient-icon {
	background: linear-gradient(120deg, #3ba2ff 0%, #F16822  100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.axgmap-img{
	border:3px solid #F16822;
	background:#fff;
}
code {
    color: #F16822;
}
#gdpr-cookie-message h4 {
    color: #F16822;
}
#gdpr-cookie-message h5 {
    color: #F16822;
}
#gdpr-cookie-message a {
    color: #F16822;
	border-bottom: 1px solid #F16822;
}
#gdpr-cookie-message a:hover {
	border-bottom: 1px solid #F16822;
    transition: all 0.3s ease-in;
	color:#F16822;
}
button#gdpr-cookie-advanced {
    color: #fff;
	background-color: #F16822;
}
.ui-widget-header {
	background: #F16822;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	background: #F16822;
}
.items-blog-tab-heading .items-blog-tab-menu li .active{
	background: #F16822;
    color: #fff;
}
.item2-gl-nav .item2-gl-menu li	.active{
	color:#F16822;
}
.item-all-cat .category-type .item-all-card img{
	background: linear-gradient(120deg, #3ba2ff 0%, #F16822  100%);
}
.item-all-cat .item-all-card:hover .item-all-text h5{
	color:#F16822 !important;
}
.counter-icon{
	 border: 1px solid #F16822;
}
.counter-icon i{
	color: #F16822;
}
.social li a:hover{
	color:#F16822;
}
.footer-main a:hover{
	color:#F16822;
}
.footer-links a:hover{
	color:#F16822;
	text-decoration:none;
}
.header-main .drop-profile  i{
	color:#F16822;
}
.header-links li a.active{
	background:#F16822;
	color:#fff;
}
.header-links li a:hover{
	background:#F16822;
	color:#fff;
}
@media (max-width:480px){
	.zoom-container .arrow-ribbon2:before{
		border-left: 17px solid #F16822;
	}
	.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
		color: #fff;
		background-color: #F16822;
		border-radius:0;
	}
}
.bg-bannerpattern{
	background: linear-gradient(138deg, rgb(81, 15, 168), rgb(48, 110, 255));
}
.owl-nav > div i {
	color:#F16822;
}
.SumoSelect:focus>.CaptionCont{
	border-color: #F16822;
}
.SumoSelect>.optWrapper.multiple.okCancelInMulti>.MultiControls>p:focus {
	border-color: #F16822;
	outline: none;
	background-color: #F16822;
}
.SumoSelect>.optWrapper.multiple>.options li.opt.selected span i, .SumoSelect .select-all.selected>span i, .SumoSelect .select-all.partial>span i {
	background-color: #F16822;
}
.default-skin{
   --skin-hover:#F16822;
 }
 .ms-choice {
 	color: #F16822;
 }
 .multi-wrapper .item-1:hover {
	background: #F16822;
}
.radio-group .radio-normal:hover + label:before {
    border-color: #F16822;
}
.radio-group .radio-normal:checked + label:before {
	border-color: #F16822;
	text-align: center;
    	background: #F16822;
}
.checkbox-group .checkbox-normal:hover + label:before {
    border-color: #F16822;
}
.checkbox-group .checkbox-normal:checked + label:before {
	border-color: #F16822;
	font-weight: bold;
    	background: #F16822;
}
.checkbox-group .checkbox-indeterminate + label:before {
	 border-color: #F16822;
	 font-weight: bold;
   	 background: #F16822;
}
.tab-active {
    color: #F16822;
    border-bottom: 2px solid #F16822;
}
.transfer-double-list-footer {
	color: #F16822;
}
.btn-arrow-active {
    color: #fff;
    background: #F16822;
}
.transfer-double-list-main::-webkit-scrollbar-thumb:hover {
    background: #F16822;
}
.transfer-double-selected-list-main::-webkit-scrollbar-thumb:hover {
    background: #F16822;
}
.breadcrumb-arrow li a {
    background-color:#F16822 ;
    border: 1px solid #F16822;
}
.breadcrumb-arrow li a:before {
	 border-left-color: #F16822 ;
}
.breadcrumb-arrow li a:after {
	border-left: 12px solid #e8e8ef;
}
.cont_breadcrumbs_1 > ul > li:hover {
	background-color: #ecdfdf;
}
.cont_breadcrumbs_1 > ul > li:last-child {
	background-color: #F16822;
}
.timeline>li .timeline-image {
	border: 7px solid #F16822;
    border-radius: 100%;
    background-color: #F16822;
    box-shadow: 0 0 2px #F16822;
}
.timeline>li:nth-child(odd) .line:before {
	 background-color: #F16822;
	 box-shadow: 0 0 2px #F16822;
}
.timeline>li:nth-child(even) .line:before  {
	background-color: #F16822;
	box-shadow: 0 0 2px #F16822;
}
.timeline--horizontal .timeline-divider {
	background:#F16822  !important;
}
.timeline-nav-button{
	border:2px solid #F16822;
}
.custom-control-input:focus~.custom-control-label::before {
	box-shadow: 0 0 0 1px, 0 0 0 2px rgb(48, 110, 255, 0.25);
}
.custom-range::-webkit-slider-thumb:focus {
	outline: none;
	box-shadow: 0 0 0 1px , 0 0 0 2px rgb(48, 110, 255, 0.25);
}
.custom-range::-moz-range-thumb:focus {
	outline: none;
	box-shadow: 0 0 0 1px , 0 0 0 2px rgb(48, 110, 255, 0.25);
}
.custom-range::-ms-thumb:focus {
	outline: none;
	box-shadow: 0 0 0 1px, 0 0 0 2px rgb(48, 110, 255, 0.25);
}
.error-img .form-control:focus {
	box-shadow: 0 0 0 2px rgb(48, 110, 255, 0.25);
}
.custom-switch-input:focus~.custom-switch-indicator {
	box-shadow: 0 0 0 2px rgb(48, 110, 255, 0.25);
}
.imagecheck-input:focus~.imagecheck-figure {
	box-shadow: 0 0 0 2px rgb(48, 110, 255, 0.25);
}
.colorinput-input:focus~.colorinput-color {
	box-shadow: 0 0 0 2px rgb(48, 110, 255, 0.25);
}
.selectize-input.focus {
	border-color: #0000fe;
	box-shadow: 0 0 0 2px rgb(48, 110, 255, 0.25);
}
.item-card7-imgs:hover a{
	background:linear-gradient(to right, rgba(59, 162, 255, 0.7), rgb(48, 110, 255, 0.7));
}
.owl-carousel button.owl-dot {
    background:rgb(206, 199, 241) !important;
}
.owl-carousel button.owl-dot.active {
    background:rgb(34, 5, 191) !important;
}
.bg-background:before{
	background:rgba(0,0,0,0.7);
}
.bg-background2:before{
	background:linear-gradient(to right, rgba(81, 15, 168, 0.9), rgb(48, 110, 255, 0.8));
}
.bg-background-color:before{
	background:linear-gradient(to right, rgba(81, 15, 168, 0.9), rgb(48, 110, 255, 0.8));;
}
.bg-background3:before{
	background-image:linear-gradient( 135deg, rgba(0, 0, 0, 0.7) 10%, rgb(0, 0, 0, 0.7) 100%);
}
.item-card:hover .item-card-desc:before{
	background:linear-gradient( 135deg, rgba(81, 15, 168, 0.9) 10%, rgb(48, 110, 255, 0.8) 100%);
}
.slider-header .item:before {
    background: linear-gradient( 135deg, rgba(81, 15, 168, 0.9) 10%, rgb(48, 110, 255, 0.8) 100%);
}
.rating-stars .rating-stars-container .rating-star.is--active,
.rating-stars .rating-stars-container .rating-star.is--hover {
	color: #ffc107;
}

.rating-stars .rating-stars-container .rating-star.is--no-hover {
	color: rgb(223, 228, 243);
}
.rating-stars .rating-stars-container .rating-star.is--active .fa-heart ,
.rating-stars .rating-stars-container .rating-star.is--hover .fa-heart {
	color: #F16822 ;
}

.rating-stars .rating-stars-container .rating-star .fa-heart .is--no-hover {
	color: #e8e8ef;
}

/*-----Rating Stars-----*/

/*-----Br Themes-----*/

.br-theme-bars-horizontal .br-widget a {
	background-color: #e8e8ef;
}
.br-theme-bars-horizontal .br-widget a.br-active,
.br-theme-bars-horizontal .br-widget a.br-selected {
	background-color: #F16822 ;
}
.br-theme-bars-horizontal .br-widget .br-current-rating {
	color: #F16822 ;
}
.br-theme-bars-pill .br-widget a {
	background-color: #e8e8ef;
}
.br-theme-bars-pill .br-widget a.br-active,
.br-theme-bars-pill .br-widget a.br-selected {
  background-color: #F16822 ;
  color: white;
}
.br-theme-bars-pill .br-widget a {
	color: #F16822 ;
}
.br-theme-bars-square .br-widget a.br-active,
.br-theme-bars-square .br-widget a.br-selected {
  border: 2px solid #e8e8ef ;
  color: #F16822 ;
}
.br-theme-bars-square .br-widget a {
  border: 2px solid rgba(107,122,144,0.1);
  background-color: #fff;
  color: #95a1b2;
}
.br-theme-bars-movie .br-widget a.br-active,
.br-theme-bars-movie .br-widget a.br-selected {
  background-color: #F16822 ;
}
.br-theme-bars-movie .br-widget a {
  background-color:  #e8e8ef;
}
.br-theme-bars-movie .br-widget .br-current-rating {
  color:#F16822 ;
}
.br-theme-bars-1to10 .br-widget a {
  background-color:#F16822;
}
.br-theme-bars-1to10 .br-widget a.br-active,
.br-theme-bars-1to10 .br-widget a.br-selected {
  background-color: #F16822 ;
}
.br-theme-bars-1to10 .br-widget .br-current-rating {
  color: #F16822 ;
}
.br-theme-fontawesome-stars .br-widget a.br-active:after {
  color: #F16822 ;
}
.br-theme-fontawesome-stars .br-widget a.br-selected:after {
  color: #F16822 ;
}
.br-theme-fontawesome-stars-o .br-widget a.br-active:after {
  content: '\f005';
  color: #F16822 ;
}
.br-theme-fontawesome-stars-o .br-widget a.br-selected:after {
  content: '\f005';
  color: #F16822 ;
}
.br-theme-fontawesome-stars-o .br-widget a.br-fractional:after {
  content: '\f123';
  color: #F16822 ;
}
.br-theme-fontawesome-stars .br-widget a:after {
  content: '\f005';
  color: #e8e8ef;
}
.br-theme-fontawesome-stars-o .br-widget a:after {
  content: '\f006';
  color: #e8e8ef;
}
/*-----Br Themes-----*/

.jsr_slider:focus::before {
	background: #F16822;
}
.jsr_slider::before {
	background: #F16822 ;
}
.jsr_label {
	background:#4629e7;
	color: #fff;
}
.jsr_label--minmax {
	color: #fff;
	background: #F16822;
}
.jsr_bar{
	background: #F16822;
}
.jsr_bar--limit {
    background-color: #F16822;
}
.irs-slider{
	background-color: #F16822;
}
.offer-primary {	border-color: #F16822 ; }
.offer-primary .shape{
	border-color: transparent #F16822  transparent transparent;
}
.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-active a {
  background-color: #F16822;
}
.pignose-calendar .pignose-calendar-header .pignose-calendar-week.pignose-calendar-week-sun,
.pignose-calendar .pignose-calendar-header .pignose-calendar-week.pignose-calendar-week-sat {
  color: #F16822;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav .pignose-calendar-top-icon {
    color: #F16822;
}
.slider-transparent.slider-box.slide-animation li:before{
	background:rgb(48, 110, 255, 0.8);
}
.index-cat:before{
	background:url(images/brand/favicon-1.png);
}

.side-account i{
	height: 45px;
    width: 45px;
    padding: 7px;
    border-radius: 50%;
    font-size: 23px;
    text-align: center;
    line-height: 28px;
}
.menu-icons .menu-icon{
	height: 45px;
    width: 45px;
    padding: 7px;
    border-radius: 50%;
    font-size: 23px;
    text-align: center;
    line-height: 28px;
}
.btn-primary-light{
	border-color: #dfd7fa;
    background-color: rgba(90, 63, 243, 0.25)!important;
    color: #F16822!important;
}
.btn-primary-light:hover{
	border-color: #F16822;
    background-color: #F16822 !important;
    color: #ffff !important;
}
.btn-info-light {
    color: #0a7ffb;
    background: rgba(33, 150, 243, 0.24);
    border-color: #cae6fc;
}
.btn-info-light:hover {
    color: #fff;
    background-color: #0a7ffb;
    border-color: #0a7ffb;
}
.btn-secondary-light {
    color: #fa713b;
    background-color: rgba(250, 113, 59, 0.25);
    border-color: #f7d9cc;
}
.btn-secondary-light:hover {
    color: #fff;
    background-color: #fa713b;
    border-color: #fa713b;
}
.btn-success-light {
    color: #36b37e;
    background-color: #d1f3e0;
    border-color: #cdecdf;
}
.btn-success-light:hover {
    color: #fff;
    background-color: #36b37e;
    border-color: #36b37e;
}
.btn-warning-light{
	background-color: #fff2d8;
    color: #ffa001;
}
.user_info{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 15px;
}
.img_cont {
    position: relative;
    height: 50px;
    width: 50px;
}
.chat .contacts li {
    width: 100% !important;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.09);
}
.chat .active {
    background-color: rgba(255,255,255,0.1);
}
.chat .contacts li {
    width: 100% !important;
    padding: 13px 15px;
    border-bottom: 1px solid rgb(227, 227, 247,0.5);
}
/*--item-card2--*/
.item-card2-icons{
	position: absolute;
	top: 20px;
    right: 15px;
	z-index:9;
}
.item-card2-icons a{
	width: 2rem;
	display: inline-block;  
    height: 2rem;
    text-align: center;
    border-radius: 100px;
    line-height: 2.1rem;
	border-radius:50px;
	color:#fff;
}
/*--bg-transparents--*/
.bg-primary-transparent {
    background: rgba(34, 5, 191, 0.15) !important;
}
.bg-secondary-transparent {
    background-color: rgba(247, 138, 95, 0.2)  !important;
}
.bg-success-transparent {
    background-color: rgba(54, 179, 126, 0.2)  !important;
}
.bg-primary-transparent {
    background-color:#d6e2ff ;
}
.bg-info-transparent {
    background-color: #ccf1f7;
}
.bg-warning-transparent {
    background-color: #fec !important;
}
.bg-danger-transparent {
    background-color: #ffddd6;
}
.bg-pink-transparent {
    background-color: rgba(255,43,136, 0.15) ;
}
.bg-purple-transparent {
    background-color: rgba(96,77,216, 0.2) ;
}
.bg-dark-transparent {
    background-color: rgba(55,66,84, 0.1) ;
}
.bg-twitter-transparent {
    background: rgb(28, 157, 235,0.2);
	color:#1c9deb
}
.bg-linkedin-transparent {
    background: rgba(0, 119, 181, 0.2);
    color: #0077b5;
}
.bg-facebook-transparent {
    background: rgb(95, 144, 204,0.2);
    color: #4064ad;
}
.bg-googleplus-transparent {
    background: rgb(216, 75, 63,0.2);
    color:#d84b3f;
}
.bg-danger-transparent {
    background: rgba(255, 98, 88, 0.2);
}

/*////////////////////badgelight//////////////////*/

.badge-primary-light {
    color: #F16822;
    background-color: rgba(90, 63, 243, 0.15);
}
.badge-success-light {
    background-color: rgba(29, 171, 45, 0.15) !important;
    color: #36b37e;
}
.badge-secondary-light {
    background-color: rgba(250, 113, 59, 0.15) !important;
    color: #fa713b;
}
.badge-warning-light {
    background-color: rgba(255, 171, 0, 0.15) !important;
    color: #ffab00;
}
.badge-danger-light {
    color: #f94859;
    background-color: rgba(250,92,124,.15);
}
.badge-info-light {
    color: #0a7ffb;
    background-color: rgba(3, 85, 208, 0.1);
}

/*////////////////////Dropshadows//////////////////*/

.primary-dropshadow{
	box-shadow: 0 5px 10px rgb(34, 5, 191,0.3);
}
.secondary-dropshadow{
	box-shadow:0 5px 10px rgba(250, 113, 59, 0.3);
}
.info-dropshadow{
	box-shadow: 0 5px 10px rgba(0, 184, 217, 0.3);
}
.success-dropshadow{
	box-shadow: 0 5px 10px rgba(19, 191, 166, 0.3);
}
.warning-dropshadow{
	box-shadow:0 5px 10px rgba(255, 171, 0, 0.3);
}
.danger-dropshadow{
	box-shadow: 0 5px 10px rgba(237, 49, 76, 0.3) ;
}
.default-shadow{
	box-shadow: 4px 3px 6px 0 rgba(0,0,0,0.2);
}
/*////////////////////text-shadow//////////////////*/

.text-primary-shadow{
	text-shadow: -2px 2px 2px rgba(34, 5, 191, 0.3);	
}
.text-secondary-shadow{
	text-shadow: -2px 2px 2px rgba(245, 128, 84, 0.3);	
}
.text-info-shadow{
	text-shadow: -2px 2px 2px rgba(12, 167, 23, 0.3);	
}
.text-success-shadow{
	text-shadow: -2px 2px 2px rgba(54, 179, 126, 0.3);	
}
.text-warning-shadow{
	text-shadow: -2px 2px 2px rgba(255, 171, 0, 0.3);	
}
.text-danger-shadow{
	text-shadow: -2px 2px 2px rgba(255, 0, 0, 0.3);	
}
.text-purple-shadow{
	text-shadow: -2px 2px 2px rgba(99, 2, 143, 0.3);	
}
.text-pink-shadow{
	text-shadow: -2px 2px 2px rgba(255, 43, 136, 0.3);	
}
@media (max-width: 575.98px){
	.mobile-logo{
		display:block;
		margin-top: 3px;
		margin-left: 10px;
	}
}
@media (min-width: 575.98px){
	.mobile-logo1{
		display:none;
		margin-top: 3px;
		margin-left: 10px;
	}
	.mobile-logo{
		display:none;
		margin-top: 3px;
		margin-left: 10px;
	}
}

/*////////////////////style-1//////////////////*/
body.style-1 {
	background: #fff;
}
.style-1 .card{
	border: 1px solid rgba(67, 87, 133, .2);
	box-shadow:none  !important;
}

.style-1 .page-header { 
	box-shadow:none !important;
}
.style-1 .header-brand-img.dark-version{
	display:none;
}

/*////////////////////icon-dark//////////////////*/
.icon-dark .first-sidemenu {
    background: #12045f;
    border-right: 1px solid #eaf0f7;
}
.ps__thumb-y {
    background-color:rgba(184, 184, 235, 0.2) !important;
}

.line-animations:after{
	content: '';
	display: block;
	position: absolute;
	height: 15vh;
	width: 100%;
	top: -50%;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
	animation: run 20s 0s infinite;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
	z-index:-3;
	width:1px;
	left:45% !important;
}
.resp-tabs-list:before{
	left: -5px;
    right: 0;
    margin: 0 auto;
    content: '';
    width: 1px;
   height: 130vh;
    background: rgba(245, 255, 251, 0.2);
    position: absolute;
	top: 0;
}
.resp-tabs-list.hor_1.line-animations li{
	z-index:99;
}
@keyframes run{
  0%{
    top: -50%;
  }
  100%{
    top: 110%;
  }
}
.dropdown-menu  a:hover{
	background:#f0f1f7 !important;
}
.dropdown-menu  .cart:hover{
	background:#f0f1f7 !important;
}
.chat .contacts li:hover{
	background:#f0f1f7 !important;
}
.sidebar-right .list:hover{
	background:#f0f1f7 !important;
}
.daterangepicker{
    box-shadow: 0px 5px 25px rgba(39, 55, 76, 0.2);
}

@media (min-width: 575.98px){
	.mobile-logo , .mobile-logo-1{
		display:none;
	}
	.app-header  .header-brand-img.desktop-logo-1{		
		display:none;
	}
	.dark-mode .header-brand .header-brand-img.desktop-logo-1{		
		display:initial;
	}
	.dark-mode .header-brand .header-brand-img.desktop-logo{		
		display:none;
	}
	.header-dark .app-header  .header-brand-img.desktop-logo{		
		display:none;
	}
	.header-dark .app-header  .desktop-logo-1{		
		display:initial;
	}
	.header-color .app-header  .header-brand-img.desktop-logo{		
		display:none;
	}
	.header-color .app-header  .header-brand-img.desktop-logo-1{		
		display:initial;
	}
	.col-login .header-brand-img.dark-theme{
		display:none;
	}
}
@media (max-width: 575.97px){
	.app-header .header-brand .header-brand-img.desktop-logoo , .app-header .header-brand .header-brand-img.desktop-logo-1{
		display:none;
	}
	.app-header .header-brand .mobile-logo{		
		display:initial;
	}
	.app-header .header-brand .mobile-logo-1{		
		display:none;
	}
	.dark-mode .app-header .header-brand .mobile-logo-1{		
		display:initial;
		margin-top: 4px;
	}
	.dark-mode .app-header .header-brand .mobile-logo{		
		display:none;
	}
	.header-dark .app-header .header-brand .mobile-logo{		
		display:none;
	}
	.header-dark .app-header .header-brand .mobile-logo-1{		
		display:initial;
	}
	.header-color .app-header .header-brand .mobile-logo{		
		display:none;
	}
	.header-color .app-header .header-brand .mobile-logo-1{		
		display:initial;
	}
	.col-login .header-brand-img.dark-theme{
		display:none;
	}
}